.bg{
    display: flex;
    height: 730px;
    width: 1520px;
    background-color: black;
}
.bg .firstOne{
    height: 730px;
    width:1000px;
    background-color: rgb(218, 217, 217);
}
.bg .secondtwo{
    height: 730px;
    width: 520px;
    background-color: rgb(55, 154, 83);
}
.content{
    margin-top: 20%;
    margin-left: 20%;
    height: 50%;
    width: 80%;
    /* background-color: rgb(253, 253, 253); */
}
.firstOne .content .login-head{
    font-weight: 700;
    font-size: 42px;
    /* color: #3a9204; */
    margin-right: 20px;
}
.box{
    background-color: rgb(254, 255, 255); 
    padding: 20px 10px;
    height: 30px; 
    width: 250px;
    border-radius: 10px;
    border: 3px solid rgba(223, 224, 225, 0.919);
    
}
.loginbutton{
    background-color: rgb(55, 154, 83);
    color: #f9f7f7;
    margin-left: 120px;
}
button{
    font-size: 16px;
    padding: 10px 55px;
    border-radius: 2px;
    border: 1px solid rgb(55, 154, 83);
    margin-left: 85px;
    margin-top: 2px;
    box-shadow:  0 9px 16px 0 rgba(0,0,0,0.2);
}
.conn{
    margin-top: 40%;
    margin-left: 20%;
    background-color: transparent;
    /* color: #f6f3f3e7; */
}
h2{
    font-weight:900;
    font-size: 39px;
    margin-left: 5px;
    margin-bottom: 10px;
}
p{
    letter-spacing: 1px;
    font-size: 20px;
}

.content button:hover{
    background-color: #13ccf1;
}